name: Build ThingFlash and attach to release

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Wine
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install wine64 wine32 -y

      - name: Install dependencies
        run: npm ci

      - name: Build the project
        run: npm run build:win

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: thingflash-windows-artifact
          path: ./dist/thingflash-*-setup.exe

      - name: Upload the zip to the GitHub Release
        if: github.event_name == 'release' && github.event.action == 'created'
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/thingflash-*-setup.exe

  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build the project
        run: npm run build:mac

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: thingflash-macos-artifact
          path: ./dist/thingflash-*.dmg

      - name: Upload the zip to the GitHub Release
        if: github.event_name == 'release' && github.event.action == 'created'
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/thingflash-*.dmg

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Build the project
        run: npm run build:linux

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: thingflash-linux-artifact
          path: |
            ./dist/thingflash-*.AppImage
            ./dist/thingflash-*.deb
            ./dist/thingflash-*.snap

      - name: Upload the zip to the GitHub Release
        if: github.event_name == 'release' && github.event.action == 'created'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/thingflash-*.AppImage
            ./dist/thingflash-*.deb
            ./dist/thingflash-*.snap